<po-page-dynamic-table
  #dynamicTable
  [p-auto-router]="true"
  [p-concat-filters]="true"
  [p-keep-filters]="true"
  p-title="Pessoas"
  [p-actions]="actions"
  [p-page-custom-actions]="pageCustomActions"
  [p-table-custom-actions]="tableCustomActions"
  [p-breadcrumb]="breadcrumb"
  [p-fields]="fields"
  [p-service-api]="serviceApi"
  [p-quick-search-width]="quickSearchWidth"
  [p-load]="onLoad.bind(this)"
>
</po-page-dynamic-table>

<po-modal #dependentsModal p-title="Dependents">
  <po-table [p-items]="dependents"> </po-table>
</po-modal>