<po-widget
      class="po-sm-12 po-md-12"
      [p-title]="pessoa.nome"
      p-primary-label="Editar"
      p-secondary-label="Aulas/Reservas"
      (p-primary-action)="editPeople(this)"
    >
      <po-avatar class="po-md-4" p-size="lg" [p-src]="pessoa.avatar"> </po-avatar>
  
      <div class="po-md-6"> 
        <p><strong>Phone:</strong> {{ pessoa.phone }}</p>
        <p><strong>E-mail:</strong> {{ pessoa.email }}</p>
        <p><strong>Esportes:</strong> {{ pessoa.sports }}</p>
        <po-switch name="active" p-label="Professor?" [p-value]="pessoa.tipo === 'Professor'" [p-disabled]="true" p-label-on="Sim" p-label-off="Não">
        </po-switch>
      </div>
    </po-widget>