<po-page-default p-title="Estoque" [p-actions]="actions" [p-breadcrumb]="breadcrumb">
    <po-widget class="po-md-6 po-lg-4 po-mb-2 po-text-center" p-title="Aguardando Identificação">
        <div class="po-font-subtitle po-text-center">540</div>
        <div class="po-text-center sample-widget-text-subtitle">www.po.com.br</div>
      </po-widget>
      <po-widget class="po-md-6 po-lg-4 po-mb-2 po-text-center" p-title="Aguardando Retirada">
        <div class="po-font-subtitle po-text-center">540</div>
        <div class="po-text-center sample-widget-text-subtitle">www.po.com.br</div>
      </po-widget>
</po-page-default>