<po-page-default [p-breadcrumb]="breadcrumb" [p-actions]="actions">
    <po-list-view
    p-property-title="sport"
    [p-items]="classes"
    [p-actions]="actionsView"
    [p-literals]="literals"
    [p-show-more-disabled]="false"
    >

    <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-avatar [p-src]="item.avatar"></po-avatar>
          <po-info class="po-md-3 po-ml-5" p-label="Data" [p-value]="item.date"></po-info>
          <po-info class="po-md-3" p-label="Nivel" [p-value]="item.level"></po-info>
          <po-info class="po-md-3" p-label="Max. alunos" [p-value]="item.people"></po-info>
          <po-switch name="active" p-label="Espera?" [p-value]="item.active" [p-disabled]="true"> </po-switch>
        </div>
      </ng-template>
      <ng-template p-list-view-detail-template let-item (p-show-detail)="showDetail">
        <div class="po-row">
          <p>Mostra alunos</p>
        </div>
      </ng-template>
    </po-list-view>

    <po-loading-overlay [hidden]="isHideLoading" ></po-loading-overlay>
</po-page-default>