<po-page-default [p-breadcrumb]="breadcrumb" [p-actions]="actions">
  <form [formGroup]="descForm">
    <div class="po-md-12">
      <po-input formControlName="desc" class="po-md-4" [p-minlength]="3" name="desc" p-label="Descrição"></po-input>
    </div>
  </form>
  <form [formGroup]="form">
    <div *ngFor="let control of form.controls; let i = index" class="po-md-8" [formGroup]="control">
      <po-input formControlName="entryTime"  class="po-md-4" p-mask="99:00" p-mask-format-model="true"></po-input>
      <po-input formControlName="exitTime" class="po-md-4" p-mask="99:00" p-mask-format-model="true"></po-input>
      <po-button p-kind="tertiary" p-size="large" (p-click)="onClickAdd(i)" p-icon="po-icon-plus"></po-button>
    </div>
  </form>

  <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
</po-page-default>