<po-page-default>
<po-stepper #stepper [p-orientation]="orientation" [p-step-icons]="false" [p-step-size]="32">
    <po-step p-label="Quadra" [p-can-active-next-step]="this.yes">
        <po-widget
        class="po-md-12"
        p-primary-label="Anterior"
        p-secondary-label="Próximo"
        p-title="Dados da aula"
        (p-primary-action)="stepper.previous()"
        (p-secondary-action)="stepper.next()"
      >
      <po-datepicker class="po-md-3 po-m-1" [p-auto-focus]="true" (p-change)="getAvailabeCourts($event)" p-label="Data da aula"></po-datepicker>
      <div class="po-md-12">
        <po-widget 
        *ngFor="let item of availabeCourts" 
        class="po-md-12 po-mb-1" 
        p-title="{{item.courtName}}">
            <po-button class="po-m-1" *ngFor="let time of item.hours" [p-label]="time" (p-click)="onSelectHour(time, item);stepper.next()" p-size="small"></po-button>
        </po-widget>
    </div>
    </po-widget>
        
    </po-step>
    <po-step p-label="Professor" >
        <po-dynamic-form
        #dynamicForm
        [p-fields]="fields"
        >
        </po-dynamic-form>
    </po-step>
    <po-step p-label="Esporte" >
        <po-dynamic-form
        #dynamicForm
        [p-fields]="fields"
        >
        </po-dynamic-form>
    </po-step>
</po-stepper>
<po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
</po-page-default>