<po-page-default [p-breadcrumb]="breadcrumb" [p-actions]="actions">
    <po-datepicker
      class="po-md-4"
      [p-auto-focus]="false"
      (p-change)="getClassByDate($event)"
      p-label="Data da aula"
    ></po-datepicker>
    <po-list-view
      class="po-md-12 po-sm-12"
      p-property-title="sport"
      [p-items]="classes"
      [p-actions]="actionsView"
      [p-literals]="literals"
    >
      <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-avatar class="po-md-2" [p-src]="item.teacherId?.avatar"></po-avatar>
          <po-info
            class="po-md-4 po-sm-6"
            p-label="Professor"
            [p-value]="item.teacherId?.nome"
          ></po-info>
          <po-info
            class="po-md-2 po-sm-6"
            p-label="Nivel"
            [p-value]="getEnumLevel(item.level)"
          ></po-info>
          <po-tag
            name="active"
            class="po-md-4 po-sm-6"
            p-label="Status"
            [p-value]="item.poValue"
            [p-type]="item.poType"
          >
          </po-tag>
          <po-info
            class="po-md-2 po-sm-6"
            p-label="Max. alunos"
            [p-value]="item.people"
          ></po-info>
          <po-info
            class="po-md-4 po-sm-6"
            p-label="Data"
            [p-value]="item.date"
          ></po-info>
          <po-info
          class="po-md-4 po-sm-6"
          p-label="Hora"
          [p-value]="item.time"
        ></po-info>
        </div>
      </ng-template>
    </po-list-view>
  
    <po-page-slide #pageSlideAluno p-title="Alunos inscritos" p-size="auto">
      <po-table
        [p-selectable]="false"
        [p-striped]="true"
        [p-columns]="peopleColumns"
        [p-items]="peopleList"
        [p-hide-table-search]="true"
        p-hide-columns-manager="true"
      >
      </po-table>
    </po-page-slide>
  
    <po-loading-overlay [hidden]="isHideLoading"></po-loading-overlay>
  </po-page-default>
  