/* You can add global styles to this file, and also import other style files */
:root {
    --color-primary: rgb(27, 65, 9);
    --color-secondary: #5d917d;
    --color-tertiary: blue;
    --color-quartiary: #fff9de;
    --color-3: #cdd071;
    --color-primary-light-95: #5d917d;
    --color-primary-light-80: rgb(255, 255, 255);
    --color-primary-alpha-50: rgb(255, 255, 255);
  }

 .po-menu {
    background-color: var(--color-quartiary);
}

.po-switch {

  --track-checked: var(--color-3)
  }

  .po-button {
    --border-radius: 40px;
  }