<div class="po-wrapper">
    <po-toolbar
    p-title="MyArena"
    [p-profile]="profile"
    [p-profile-actions]="profileActions"
    >
  
    </po-toolbar>
    <po-menu
      [p-collapsed]="false"
      p-logo="../assets/logo.png"
      p-short-logo="../assets/logo_min.png"
      [p-menus]="menus"
    >
    </po-menu>
    <router-outlet></router-outlet>
    <po-page-default [p-breadcrumb]="breadcrumb">
      <div class="po-row">
        <po-chart
            class="po-lg-6 po-mt-2"
            p-title="Pessoas x Esporte"
            [p-series]="sportsByPeople"
            [p-type]="sportByPeopleChartType"
        >
        </po-chart>
        <po-chart
            class="po-lg-6 po-mt-2"
            p-title="Reservas Ult. 12 Meses"
            [p-series]="reservationsLastMonths"
            [p-type]="reservationType"
        >
        </po-chart>
      </div>  
      </po-page-default>
      <po-loading-overlay [hidden]="isHideLoading" p-text="Carregando..."></po-loading-overlay>
  </div>
  